.color_picker {
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  &__item {
    border: 2px solid #f2f2f200;
    width: 85px;
    height: 74px;
    background: url('/assets/UI/color-picker-metal-plate.png') no-repeat center;
    background-size: contain;
    border-radius: 4px;
    margin: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.14s ease-in-out;

    > div {
      transition: all 0.14s ease-in-out;
      background-blend-mode: color-burn;
      width: 45px;
      height: 45px;
      border-radius: 2px;
      opacity: 0.5;
    }
    
    &:hover {
      border: 2px solid #f2f2f2;
      > div {
        opacity: 0.9;
      }
    }
  }
}